tasks/.DS_Store
tasks/2026-03-05_aws-region-migration/backup-secrets
tasks/2026-03-05_aws-region-migration/backup-ssm
tasks/2026-03-05_aws-region-migration/backup-secrets-dev
tasks/2026-03-05_aws-region-migration/backup-secrets-sandbox
tasks/2026-03-05_aws-region-migration/backup-ssm-dev
tasks/2026-03-05_aws-region-migration/backup-ssm-sandbox
tasks/2026-03-05_aws-region-migration/backup-iam-policies
tasks/2026-03-05_aws-region-migration/backup-iam-policies